<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${user.getUsername()}"> </title>
</head>
<body>
Ваш ID:
<span th:text="${user.getId()}"></span>
<br>
<br>
Ваше имя:
<span th:text="${user.getName()}"></span>
<br>
<br>
Ваша фамилия:
<span th:text="${user.getSurname()}"></span>
<br>
<br>
Ваш возраст:
<span th:text="${user.getAge()}"></span>
<br>
<br>
Ваш email:
<span th:text="${user.getEmail()}"></span>
<br>
<br>
Ваша роль:
<span th:text="${user.getRoles()}"></span>
<br>
<hr>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>